/* line 1, /Users/ljarzynski/workspace/docs-book-redis/output/master_middleman/source/stylesheets/print-layout-styles.scss */
.local-header {
  display: none; }

/* line 5, /Users/ljarzynski/workspace/docs-book-redis/output/master_middleman/source/stylesheets/print-layout-styles.scss */
.pivotalcf .logo {
  background: none;
  padding-left: 0; }
